html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

body {
	display: flex;
}

a {
	color: unset;
}

header {
	padding: 10px;
}

.app-logo::before {
	background-image: url(/assets/icon-black-trans.png);
	background-size: 50px;
	width: 50px;
	height: 50px;
	content: '';
	display: inline-block;
	vertical-align: text-bottom;
}

.commit-info {
	background-color: #d7cfe6;
}

.diff {
	padding: 10px;
}

[data-diff-node] {
  position: relative;
}

[data-diff-node] + [data-diff-node]::before, h3[data-diff-node]::after, section[data-diff-node]::after, p[data-diff-node]::after, ul[data-diff-node]::after, ol[data-diff-node]::after {
  content: '';
  width: 100%;
  height: 10px;
  display: block;
  position: absolute;
	z-index: -1;
}

[data-diff-node] + [data-diff-node]::before {
	top: -10px;
}

section {
	display: flex;
	flex-direction: column;
}

.open-government-licence span {
	display: inline-block;
	margin: 5px;
	vertical-align: middle;
}

.open-government-licence .logo a {
    display: block;
    width: 41px;
    height: 17px;
    overflow: hidden;
    text-indent: -999em;
    background: url(https://assets.publishing.service.gov.uk/static/images/open-government-licence-c1aedc8257961b938b4c7a21a2b0db3f2716dd9ef782cea73110dc69107c9042.png) 0 0 no-repeat;
}

.commit-log a {
	text-decoration-line: none;
}

.commit-log a li {
	text-decoration-line: underline;
}

.commit-log li.added::before {
	content: "A";
	color: green;
}

.commit-log li.modified::before {
	content: "M";
	color: goldenrod;
}

.commit-log>*:nth-child(2n) {
	background-color: lightyellow;
}

.commit-log {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.commit-log .table-header {
	display: none;
}

.commit-log ul li::before {
	padding-right: 10px;
}

.commit-log>* {
	display: block;
}

.commit-log ul {
	padding: 5px 10px;
}

.commit-log p {
	padding: 5px 33px;
}

.commit-log h3 {
	margin: 0;
	padding: 15px;
}

.diff del,
.diff [data-diff-node="del"],
.diff [data-diff-node="del"]::before,
.diff [data-diff-node="del"]::after
{
	background-color: rgb(253, 194, 194);
}

.diff ins,
.diff [data-diff-node="ins"],
.diff [data-diff-node="ins"]::before,
.diff [data-diff-node="ins"]::after {
	background-color: rgb(231, 255, 231);
	text-decoration-line: none;
}

/* wide 2-column layout */

@media screen and (min-width: 900px) {
	.commit-log .table-header {
		display: table-row;
	}
	.commit-log {
		display: table;
		table-layout: fixed;
	}
	.commit-log>*::before {
		display: table-cell;
	}
	.commit-log>* {
		display: table-row;
	}
	.commit-log p, .commit-log ul {
		display: table-cell;
	}
	.commit-log ul li {
		width: 400px;
	}
	.commit-log ul li {
		display: flex;
	}
	.commit-log p {
		text-overflow: ellipsis;
		text-indent: -145px;
		padding-left: 145px;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #212121;
		color: #E0F2F1;
	}
	.app-logo::before {
		background-image: url(/assets/icon-white-trans.png);
	}
	.commit-info {
		background-color: #6200EA;
	}
	.commit-log>*:nth-child(2n) {
		background-color: #424242;
	}
	.diff del,
	.diff [data-diff-node="del"] {
		background-color: #C62828;
	}
	.diff ins,
	.diff [data-diff-node="ins"] {
		background-color: #1B5E20;
	}
}